h1{
text-align:center;
color:red;
background-color:DarkGrey;
  }

p{
background-color:Azure;
}

body{
background-color:Black;
}
  
<img src="https://secretsurpriseshop.com/cdn/shop/collections/IMG_8840_2_800x800.jpg?v=1597867850" alt="Gudetama getting dragged"> style="width:550px;height:466px;">
</body>
