h1{
text-align: center;
background-color: DarkGrey;
color: red;
}

p{
background-color:Azure;
}

body{
background-image: url("https://cdna.artstation.com/p/assets/images/images/042/737/284/large/ellyn-cho-gudetama-thumbnail.jpg?1635313130");
}
  
img src="https://secretsurpriseshop.com/cdn/shop/collections/IMG_8840_2_800x800.jpg?v=1597867850" alt="Gudetama getting dragged"> style="width:550px;height:466px;"

